
.container_footer{
    max-width: 1440px;
    height: 242px;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: #fbc41f;;
}
.container_content_footer{
    max-width: 80%;
    height:140px;
    margin: auto;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.LOGO_div{
    /* justify-content: center; */
}
.List_div{
    display: flex;
    min-width: 20%;
    justify-content: space-around;
   

}
.List_div>a{
    text-decoration: none;
    color: black;

}

.List_div a:hover {
    color: #fbc41f;
  }