* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  --yellow: #ffbf00;
  --black: #231f1e;
  --white: #efecec;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--yellow);
  border-radius: px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--black);
}