.wrapperForm {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.orderSummaryFormInfo {
  animation: loading 1.5s ease-in-out 1;
  box-shadow: 10px -5px 400px 200px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 10px -5px 400px 200px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px -5px 400px 200px rgba(0, 0, 0, 0.3);
  width: 33rem;
  height: 75%;
  background-color: white;
  padding: 70px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input1F {
  animation: loading 2s ease-in-out 1;
}
.input2F {
  animation: loading 2.5s ease-in-out 1;
}
.input3F {
  animation: loading 3s ease-in-out 1;
}
.input4F {
  animation: loading 3.5s ease-in-out 1;
}
.input5F {
  animation: loading 4s ease-in-out 1;
}
.lastSection {
  display: flex;
  justify-content: center;

}
.purshaseBtn {
  border-radius: 25px !important;
  background-color: var(--yellow) !important;
  font-weight: 1000 !important;
  letter-spacing: 1px !important;
  cursor: pointer;
  animation: loading 4.5s ease-in-out 1;
  border: 0ch;
  height: 3rem;
  width: 10rem;
  padding-bottom: 0.5rem;
  font-weight: 1000;
}
