.banner {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  color: black;
  align-items: center;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  animation: load 1s ease-in-out 1;
}
.banner h1 {
  color: white;
  padding-top: 50px;
  /* position: absolute; */
  font-size: 64px;
  left: 20%;
  font-weight: 1000;
  letter-spacing: 8px;
  animation: fadeIn 2.5s;
}

.body-aboutUs {
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  height: 100%;
  width: 70%;
  margin: auto;
}
.lCard{
  animation: loadX 1.5s ease-in-out 1;
}
.rCard{
  animation: loadXR 1.5s ease-in-out 1;
}
.cardTitle{
  animation: load 5s;
  font-weight: 450;
  font-size: 30px;
}
.cardInfo{
  animation: load 5s;
  font-size: 20px;
  font-weight: 300;
}
.backLink{
  animation: load 5s;
  font-size: 16px;
  font-weight: 300;
}

@keyframes load {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes loadX {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes loadXR {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}